body {
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: "Inter";
}

.card {

}

h1 {
	text-align: center;
	height: 150px;
	border: 50px;
	padding-top: 20px;
	margin-left: 40px;
	color: hsl(0, 0%, 100%);
	font-family: 'Inter';
}

p {
	color: hsl(0, 0%, 100%);
}

#people-office {

}
footer{
	color: hsl(0, 0%, 100%);
}